:root {
  /* COLOURS */
  --main-grey: rgb(53, 53, 58);
  --main-cream: rgb(240, 231, 216);
  --main-accent: rgb(241, 136, 5);

  /* FONTS */
  --title-font: "Playfair Display", serif;
  --copy-font: "Open Sans", sans-serif;
  /* Open sans bold(700), regular(400), light(300) */
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

/* MAIN STYLING */
#root {
  min-height: 100vh;
  background-color: var(--main-grey);
  color: var(--main-cream);
}

/* NAVBAR STYLING */
.navbar .navbar-brand,
.navbar .navbar-brand:hover {
  color: var(--main-accent);
  font-family: var(--title-font);
  font-weight: 900;
  font-size: 50px;
}

.navbar-toggler {
  border-color: var(--main-cream) !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgb(240, 231, 216)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.navbar .navbar-nav .nav-link {
  color: var(--main-cream);
  margin-left: 1.5rem;
  font-family: var(--copy-font);
  font-weight: 700;
  text-align: center;
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--main-accent);
}

/* HERO SECTION */
.hero-section,
.left-column,
.right-column {
  height: 100vh;
}

.hero-section h1 {
  font-family: var(--copy-font);
  font-size: 3rem;
  font-weight: 300;
}

.hero-section h1 span {
  font-family: var(--title-font);
  color: var(--main-accent);
  font-weight: 900;
}

.hero-section p {
  font-family: var(--copy-font);
  font-weight: 300;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}

.hero-section p span {
  color: var(--main-accent);
  font-weight: 700;
}

.left-column button,
.contact-form button {
  border: 2px solid var(--main-accent);
  color: var(--main-accent);
  font-weight: 700;
  font-size: 1.25rem;
  padding: 5px 25px;
}
.left-column button:hover,
.contact-form button:hover {
  background-color: var(--main-accent);
  color: var(--main-cream);
}

.right-column img {
  height: 500px;
  width: auto;
}

/* ABOUT */
.skills i {
  font-size: 3rem;
  transition: all 0.4s ease-in-out;
}
.skills i:hover {
  color: var(--main-accent);
  transform: translateY(-5px);
}

.skills-title {
  font-family: var(--title-font);
  font-weight: 900;
}

/* WORK */
.work-title,
.contact-title {
  font-family: var(--title-font);
  font-weight: 900;
  color: var(--main-cream);
  font-size: 2.5rem;
}
.project {
  border: none !important;
}

.project .card-img-overlay {
  background-color: rgba(241, 136, 5, 0.8);
  opacity: 0;
  color: var(--main-grey);
  font-family: var(--copy-font);
  border-radius: 0;
  transition: all 0.4s ease-in-out;
}

.project .card-img-overlay:hover {
  opacity: 1;
}

.project .card-img-overlay h5 {
  font-family: var(--title-font);
  font-weight: 900;
  font-size: 1.5rem;
}

.card img {
  width: auto;
  height: 250px;
  object-fit: cover;
  object-position: top;
}

.card button,
.mobile-card-text .card button {
  background-color: var(--main-grey);
  color: var(--main-cream);
  font-weight: 700;
  font-size: 1rem;
  padding: 5px 20px;
  text-decoration: none;
  margin-right: 0.75rem;
}

.card button:hover,
.mobile-card-text .card button:hover {
  background-color: var(--main-cream);
  color: var(--main-grey);
  text-decoration: none;
}

.mobile-card-text {
  position: absolute;
  bottom: 0;
  background-color: rgba(241, 136, 5, 0.8);
  padding: 10px;
  width: 100%;
  font-size: 0.8rem;
  font-family: var(--copy-font);
}

.mobile-card-text h5 {
  font-family: var(--title-font);
  font-weight: 900;
  font-size: 1.5rem;
}

/* CONTACT */

.contact-form {
  font-family: var(--copy-font);
}

.socials i {
  color: var(--main-accent);
  font-size: 4rem;
  margin: 0 2rem;
  transition: all 0.4s ease-in-out;
}
.socials i:hover {
  color: var(--main-cream);
}

.icon-link {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--copy-font);
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--main-grey);
  padding: 5px 10px;
  border-radius: 5px;
}

/* FOOTER */
footer h6 {
  font-size: 0.75rem;
  font-weight: 300;
  font-family: var(--copy-font);
}

footer h6 span {
  font-family: var(--title-font);
  font-weight: 900;
}

footer i {
  color: var(--main-cream);
  font-size: 2rem;
  margin-left: 1rem;
  transition: all 0.4s ease-in-out;
}

footer i:hover {
  color: var(--main-accent);
}
