:root {
  /* COLOURS */
  --main-grey: #35353a;
  --main-cream: #f0e7d8;
  --main-accent: #f18805;

  /* FONTS */
  --title-font: "Playfair Display", serif;
  --copy-font: "Open Sans", sans-serif;
  /* Open sans bold(700), regular(400), light(300) */
}

* {
  scroll-behavior: smooth;
}

/* MAIN STYLING */
#root {
  min-height: 100vh;
  background-color: var(--main-grey);
  color: var(--main-cream);
}

/* NAVBAR STYLING */
.navbar .navbar-brand,
.navbar .navbar-brand:hover {
  color: var(--main-accent);
  font-family: var(--title-font);
  font-weight: 900;
  font-size: 50px;
}

.navbar .navbar-nav .nav-link {
  color: var(--main-cream);
  margin-left: 1.5rem;
  font-family: var(--copy-font);
  font-weight: 700;
  text-align: center;
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--main-accent);
}

/* HERO SECTION */
.hero-section,
.left-column,
.right-column {
  height: 100vh;
}

.hero-section h1 {
  font-family: var(--copy-font);
  font-size: 3rem;
}

.hero-section h1 span {
  font-family: var(--title-font);
  color: var(--main-accent);
  font-weight: 900;
}

.hero-section p {
  font-family: var(--copy-font);
  font-weight: 300;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}

.hero-section p span {
  color: var(--main-accent);
  font-weight: 700;
}

.left-column button {
  border: 2px solid var(--main-accent);
  color: var(--main-accent);
  font-weight: 700;
  font-size: 1.25rem;
  padding: 5px 25px;
}
.left-column button:hover {
  background-color: var(--main-accent);
  color: var(--main-cream);
}

.right-column img {
  height: 500px;
  width: auto;
}

/* FOOTER */

footer h6 {
  font-size: 0.75rem;
  font-weight: 300;
}

footer h6 span {
  font-family: var(--title-font);
  font-weight: 900;
}

footer i {
  color: var(--main-cream);
  font-size: 1.5rem;
  margin-left: 1rem;
}

footer i:hover {
  color: var(--main-accent);
}
